

<nav class="navbar">
<!--  <div>-->

  <div class="logo">
    <img src="https://www.softwareag.com/content/dam/softwareag/global/image/logos/sag/sag-primary-logo-dark.svg" alt="Software AG" height="40" width="100">
  </div>

<!--  <div class="links">-->

  <a [routerLink]="'/home'">Home</a>

  @if (isLoggedIn&&!admin){
    <a [routerLink]="'/products'">Products</a>
    <a [routerLink]="'/menu'">Menu</a>
    <a [routerLink]="'/cart'">Cart</a>
    <a [routerLink]="'/orders'">Orders</a>
    <button (click)="logout()">Logout</button>
  }

  @if(admin){
    <a [routerLink]="'/admin/product'">Add </a>
    <a [routerLink]="'/admin/products'">Products</a>
    <a [routerLink]="'/admin/orders'">Orders</a>
    <button (click)="logout()">Logout</button>
  }
  @if(!isLoggedIn){
    <a [routerLink]="'/login'">Login</a>
  }

<!--  </div>-->
<!--  </div>-->
</nav>
